body {
    display: flex;
    color: #391400;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#text {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 500px;
    margin-top: 30px;
}

#uname {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#send {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100px;
    margin: auto;
    background: #d96e27;
    color: #fff;
    border-radius: 50vh;
    position: relative;
    transition: 0.5s;
}

#send:before {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

#send:hover {
    background: #000;
    color: #fff;
}